detect/__pycache__/utils.cpython-39.pyc
self_driving/__pycache__/object_detection_5MP_cam.cpython-39.pyc
self_driving/__pycache__/object_detection_5MP_cam.cpython-313.pyc
self_driving/__pycache__/safety_state.cpython-39.pyc
self_driving/__pycache__/safety_state.cpython-313.pyc
self_driving/__pycache__/utils.cpython-39.pyc
self_driving/__pycache__/object_detection.cpython-313.pyc
.gitignore
